{% extends 'backoffice/layout.html.twig' %}

{% block title %}Entrainements{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Liste des entrainements</h1>
<p>
            {% for workout in workouts %}
                <li>
                    <a href="{{ path('backoffice_workout_show', {id:workout.id}) }}">
                        {{ workout.name }}

                </li>
            {% endfor %}
            </p>
        <p>
            <a href="{{ path('backoffice_workout_add') }}">Ajouter</a>
        </p>
            <a href="{{ path('backoffice_index') }}">Retour à l'accueil</a>
</div>

{% endblock %}