{% extends 'backoffice/layout.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Liste des utilisateurs</h1>
<p>
            {% for user in users %}
                <li>
                    <a href="{{ path('backoffice_user_show', {id:user.id}) }}">
                        {{ user.pseudo }}

                </li>
            {% endfor %}
            </p>
        <p>
            <a href="{{ path('backoffice_user_add') }}">Ajouter</a>
        </p>
            <a href="{{ path('backoffice_index') }}">Retour à l'accueil</a>
</div>

{% endblock %}