{% extends 'backoffice/layout.html.twig' %}

{% block title %}Hello Backoffice!{% endblock %}

{% block content %}

      <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Bienvenue dans le Backoffice de We are coach !</h1>
    </div>
  </section><!-- End Hero -->

{% endblock %}

