{% extends 'backoffice/layout.html.twig' %}

{% block title %}Hello Backoffice!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Bienvenue dans le Backoffice de We are coach !</h1>
</div>
{% endblock %}

