{% extends 'base.html.twig' %}

{% block title %}Ajouter un Sport{% endblock %}

{% block body %}

    <h2>Ajout d'un Sport</h2>

    {{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(formView.name) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(formView) }}

    <p>
        <a href="{{ path('backoffice_sport_index') }}">Retour à la liste</a>
    </p>

{% endblock %}