{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

      <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Bienvenue dans le Backoffice de We are coach !</h1>
      <a href="{{ path('backoffice_index') }}" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i>🔒 </a>
    </div>
  </section><!-- End Hero -->

{% endblock %}
